<ion-content>
  <section id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/imgs/logo.png" alt="Logo da aplicação" />
      </div>
    </div>
  </section>

  <section class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input type="email" label="E-mail" label-placement="stacked" [clearInput]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          <ion-input type="password" label="Senha" label-placement="stacked">
            <ion-input-password-toggle color="secondary" slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-button expand="block" color="secondary" aria-label="Entrar" (click)="teste()">Entrar</ion-button>
        <ion-button expand="block" color="medium" aria-label="Registrar" [routerLink]="['/register']">Registrar</ion-button>
      </ion-card-content>
    </ion-card>

    <div class="line-text">
      <span class="lines"></span>
      <span class="text">Redes sociais</span>
    </div>

    <ion-card class="social-wrapper">
      <ion-card-content>
        <div class="socials">
          <ion-button class="btn-fb" aria-label="Entrar com Facebook" (click)="openFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button class="btn-tw" aria-label="Entrar com Twitter">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button class="btn-ins" aria-label="Entrar com Instagram" (click)="openInstagram()">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button class="btn-yt" aria-label="Entrar com telefone" (click)="openYoutube()">
            <ion-icon name="logo-youtube"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
