<footer class="custom-footer">
  <div class="footer-top">
    <div class="footer-left">
      <h3 class="footer-heading">Cultos</h3>
      Quinta-feira 19h30<br>
      Domingo 9h30
    </div>

    <div class="footer-center">
      <img src="assets/imgs/logo.png" alt="Logo da Igreja" class="footer-logo">
    </div>

    <div class="footer-right">
      <h3 class="footer-heading">Endereço</h3>
      R. Ver. Joaquim Domingos Simões, 40<br>
      Santa Rita do Sapucaí - MG
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-copy">
      © 2025 - Igreja Reformada do Calvário - Todos os direitos reservados.
    </div>
    <div class="socials">
      <div class="social-btn btn-fb" (click)="openFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
      <div class="social-btn btn-tw">
        <ion-icon name="logo-twitter"></ion-icon>
      </div>
      <div class="social-btn btn-ins" (click)="openInstagram()">
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      <div class="social-btn btn-yt" (click)="openYoutube()">
        <ion-icon name="logo-youtube"></ion-icon>
      </div>
    </div>
  </div>
</footer>
